<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li><a [routerLink]="['/home']">Tent</a></li>
      <li><a [routerLink]="['/clima']">Elements guide me</a></li>
    </ul>
  </div>
</div>