<p>Here, with some help from the  <a href="http://wowwiki.wikia.com/wiki/Elemental_Lord">Elemental Lords</a>, we will tell you the 
weather conditions on any city, you just need to submit its name.  </p>
<body>
<img src="https://i.imgur.com/5TeNj7B.jpg"
alt="Your internet connection may not be working, and you won't be able to use this app if that's the case,
 sorry bro.">
</body>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <div class="clima-group">
        <label  for="cityName">City Name</label>
        <input type="text"
        class="clima-control"
        id="cityName"
        ngModel
        name="cityName">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of climaItem">
        {{item.city}}
        {{item.info}}
        {{item.temp}} C
      </li>
    </ul>
  </div>
</div>
