<h2>
Welcome to Azeroth's first shamanic weather-app.
</h2>
<h3>
Here you will be able to know, for certain, the current weather in any city on the world. 
</h3>


<body>
<img src="http://i.imgur.com/8P2XeYh.jpg"
alt="Your internet connection may not be working, and you won't be able to use this app if that's the case,
 sorry bro.">
</body>
<p>For any more information on
<a href="http://wowwiki.wikia.com/wiki/Shaman">shamans</a>,
<a href="http://wowwiki.wikia.com/wiki/Azeroth_(world)"> Azeroth</a>, and why a
<a href="http://wowwiki.wikia.com/wiki/Elemental_Lord">shamanic-app</a>, makes sense, click on those links
</p>  